<div class="tela-inicial">
  <div class="toolbar" role="banner">
    <img width="114px" alt="Logo" src="assets/imagens/logo.svg" />
    <div class="spacer"></div>
    <div class="botoes">
      <button (click)="mudancaPagina()" class="botao" [ngClass]="{'botao-tela-atual': telaFavoritos}">
        <mat-icon>home</mat-icon> Início
      </button>
      <button (click)="mudancaPagina()" class="botao" [ngClass]=" {'botao-tela-atual': !telaFavoritos}">
        <mat-icon>favorite</mat-icon>
        Favoritos
        <span class="badge">{{totalFavoritos}}</span>
      </button>
    </div>
  </div>
  <div class="content" role="main">
    <app-personagem></app-personagem>
  </div>
</div>


<router-outlet></router-outlet>