@import '../styles.scss';

.spacer {
  flex: 1;
}

.tela-inicial {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .toolbar {
    height: 5%;
    background-color: $color-core-border;
    display: flex;
    align-items: center;
  }

  .content {
    height: 95%;
    width: 100%;
    background-color: $color-core-background;
  }

}

.botao-tela-atual {
  background: transparent;
  color: $color-core-content-low;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  opacity: 1;
  transform: rotate(0deg);
  box-sizing: border-box;
  border: 1px solid $color-core-content-low;
  background-color: $color-neutral-surface;
  color: $color-core-foreground;
  font-weight: 700;
  font-size: 14px;
}