<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->

<div class="tela-inicial">
  <div class="toolbar" role="banner">
    <img width="114px" alt="Logo" src="assets/imagens/logo.svg" />
    <div class="spacer"></div>
    <button mat-raised-button class="botao">
      <mat-icon>home</mat-icon> Início
    </button>
    <button mat-raised-button class="botao">
      <mat-icon>favorite</mat-icon> Favorito
    </button>
  </div>
  <div class="content" role="main">

    hahshah
  </div>

</div>





<router-outlet></router-outlet>