@import '../../../styles.scss';


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; // garante que ocupe 100% do pai
  width: 100%;
  margin: auto;

  .box-titulo {
    flex: 0 0 auto; // ocupa apenas o espaço necessário
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px;

    span {
      font-family: $font-display;
      font-size: 48px;
      color: $color-azul;
      -webkit-text-stroke: 2px $color-verde;
    }

  }

  .box-personagens {
    flex: 1 1 auto; // ocupa o restante do espaço
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    overflow-y: auto;
    padding: 16px;
  }

  .sem-personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-core-border;
    width: 720px;
    height: 512px;
    gap: 8px;

    .texto {
      width: 100%;
      text-align: center;
    }

    .texto-principal {
      font-weight: 700;
      font-size: 24px;
      color: $color-neutral-surface;
    }

    .texto-secundario {
      font-weight: 400;
      font-size: 18px;
      color: $color-core-content-low;
    }
  }
}

.container-img {
  height: 224px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}